@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.container {
  display: flex;
}

.container .container-menu{
  background: black;
  padding: 20px 0;
  width: 250px;
  height: 100vh;
  color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container .container-menu .menu-items ul li {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .container-menu .menu-items ul li img {
  margin-bottom: 10px;
}

.container .container-menu .menu-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .container-menu .menu-settings svg {
  margin-right: 10px;
}

.container .content {
  background: #f5f6fa;
  width: 100%;
}

.container .content .card-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container .content .card-header .card {
  background: #FFFFFF;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin: 0 20px;
  display: flex;
  height: 132px;
}

.container .content .card-header .card-small {
  width: 240px;
  display: flex;
  align-items: center;
}

.container .content .card-header .card-large {
  width: 464px;
}

.container .content .card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65%;
}

.container .content .card-content .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .content .card-content .card-info h2 {
  font-size: 54px;
  font-weight: 700;
  color: #FFBA33;
}

.container .content .card .card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container .content .card-header .card-large .card-container .card-content:first-child {
  border-right: 1px solid #111;
}

.container .table {
  margin: 40px;
  width: 642px;
  height: 450px;
  padding: 30px;
  background: #FFFFFF;
  color:#5E5E5E;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  text-align: left;
}

.container .table h5 {
  color: black;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.container .table #filmsTable {
  width: 100%;
  margin-top:20px;
}

.container .table #filmsTable thead tr th {
  border-bottom: 1px solid #5E5E5E;
  padding: 10px 0;
}

.container .table #filmsTable tr td {
  border-bottom: 1px solid #E9E9E9;
  padding: 10px 0;
}

.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.chart {
  display: flex;
  align-items: center;
  width: 400px;
  height: 450px;
  background: #FFFFFF;
  color:#5E5E5E;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
